<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is loading from ejs</h1>
    <h1>Helloo <%= title %></h1>
    <!-- <h1><%= product[0] %></h1> -->
    <ul>
        <% for (item in product) {%>
            <li><%= product[item].name %> - <%= product[item].price %></li>
        <% } %>
    </ul>

    <table border="1">
        <thead>
            <tr>
                <th>Serial No</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% let rowNum = 1; %>
            <% for (item in product) {%>
                <tr>
                    <td><%= rowNum %></td>
                    <td> <%= product[item].name %></td>
                    <td> <%= product[item].price %></td>
                </tr>
                <% rowNum++; %>
            <% } %>
        </tbody>  
    </table>
</body>
</html>