<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="col-4"></div>
    <div class=" col-3 my-5 card">
        <h2 style="color: blue;">Student Data Entry Form</h2>
    <form method="post" action="update_data">
        <% for (row in rows){ %>
        <div class="mb-1">
        
        <label class="form-label">Name</label>
        <input type="text" name="txt_name" class="form-control" value="<%= rows[row].name %>"><br>
        </div>
        <!-- <label>Class</label>
        <input type="text" name="txt_class"><br><br> -->
        <div class="mb-1">
        <label class="form-label">Class</label>
        <select class="form-select" id="cls" required name="txt_class" value="<%= rows[row].class %>">
            <option value="plusone">plusone</option>
            <option value="plustwo">plustwo</option>
        </select><br>
    </div>
        <div class="mb-1">
        <label class="form-label">Stream</label>
        <select class="form-select" id="sream" required name="txt_stream" value="<%= rows[row].stream %>">
            <option value="computer science">Computer science</option>
            <option value="physics">physics</option>
        </select><br>
    </div>
        <!-- <input type="text" name="txt_stream"><br><br> -->
        <div class="mb-1">
        <label class="form-label">Mark</label>
        <input type="text" name="txt_mark" class="form-control" value="<%= rows[row].mark %>"><br>
    </div>
        <div class="mb-1">
        <label class="form-label">Grade</label>
        <select class="form-select" id="grade" required name="txt_grade" value="<%= rows[row].grade %>">
            <option value="A+">A+</option>
            <option value="A">A</option>
            <option value="B+">B+</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select><br>
    
        <!-- <input type="text" name="txt_grade"><br><br> -->
        <input type="submit" value="Enter" class="btn btn-primary">
        <input type="hidden" value="<%= rows[row].student_id %>" name="id">
    </div>
    <% } %>
    </form>

</div>
</div>
</body>
</html>